html{

	background : url(images/page-background.jpg);
	background-color:black;
	background-repeat: no-repeat;
	background-position:absolute;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size :cover;
	background-size: cover;
}

h1{
	text-align:center;
	color:crimson;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 2.1fr 0.6fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  grid-template-areas:
    ". name ."
    "log-area game-area inventory"
    ". start- .";
}

.dungeon {
    grid-area: game-area;
    
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    color:white;
 }


 .room{
 	background: url(images/thumb.jpg);
    flex: 0 30% ;
    height: 100px;
    margin-bottom:0px

 }

 


.log-area { 
	grid-area: log-area; 

}

 #log{
 	height:100%;
 	background-color:gray;
 	text-align:bottom;
 	
 }

.inventory { 
	grid-area: inventory;
 }

#Inventory{
	height:100%;
 	background-color:gray;
 	text-align:bottom;
}
.name {
    grid-area: name;
    background:url(images/text-background.jpg);

}
.start- { 
	grid-area: start-; 
	color:white;
}



