html{

	background : url(images/page-background.jpg);
 
	background-color:black;
	background-repeat: no-repeat;
	background-position:absolute;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size :cover;
	background-size: cover;
}

h1{
	text-align:center;
	color:crimson;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 2.1fr 0.6fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  grid-template-areas:
    ". name ."
    "log-area game-area inventory"
    "movement start- fight";
}

.dungeon {
    grid-area: game-area;
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    position:relative;
    
 }

 .room{
 	background: url(images/thumb.jpg);
 	    flex: 0 30%;
    height: 100px;
    margin-bottom: 0px
 	

 }
.button-group{
  grid-area: movement;

}

.fight-buttons{
  grid-area:fight;
  
}

.log_area { 
	grid-area: log-area; 
}

#log{
  grid-area: log-area;
  background-color: grey;
  height: 50%
}

.inventory { 
	grid-area: inventory;

 }

 #inventory{
  background-color: gray;
  overflow:auto ;
  height:50%;


 }

.name {
    grid-area: name;

}

.start- { 
	grid-area: start-; 

}

.hero{
  grid-area:start-;
  justify-content: center;

  
 
}



