html{

	background : url(images/page-background.jpg);
 
	background-color:black;
	background-repeat: no-repeat;
	background-position:absolute;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size :cover;
	background-size: cover;
}

h1{
	text-align:center;
	color:crimson;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 5.1fr 0.6fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  grid-template-areas:
    "log Health Bag"
    "log-area game-area inventory"
    "movement start .";
}

.dungeon {
    grid-area: game-area;
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    position:relative;
    
 }

 .room{
 	background: url(images/thumb.jpg);
 	    flex: 0 30%;
    height: 100px;
    margin-bottom: 0px
 	

 }
.button-group{
  grid-area: movement;

}

.fight-buttons{
  grid-area: pipus;

}

.inventory{
  grid-area: inventory;
  color:red;
  overflow-y:auto;
  max-width: 200px;
  max-height: 90%;
  height: 300px;
  width: 300px;
}

.log{
  grid-area: log-area;
  color:red;
  overflow-y:auto;
  max-width: 200px;
  max-height: 90%;
  height: 300px;
  width: 300px;
}
.name {
    grid-area: name;

}

.start { 
	grid-area: start; 

}

#hero-image{
  grid-area:start;
  justify-content: center;

}
.enemy{
 visibility: hidden;
}
.eventLog{
  grid-area:log;
  color:white;
}
.bag{
  grid-area:Bag;
  color:white;
  }
.startAudio{
  grid-area:movement;
}
.HP{
  grid-area:Health;
  color:red;
}



